/*Setting up a header structure and assigning some attributes to the objects it contains*/

*{
	margin:0;
}
nav{
	border: 1px solid rgba(255, 255, 255, 0.0);
	width: 100%;
	height: 200px;
	background-image: url(../img/fundoNav.jpg);

}

ul#menu{
	
	width: 42%;
	position: relative;
	left: 30%;
	bottom: 70%;
}
ul#smenu{
	
	width: 42%;
	position: absolute;
	left:80%;
	bottom: 75%;
}


li{
	position: relative;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	list-style-type: none;
	display: inline-flex;
	padding: 10px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bolder;


}
a.btnNavbar{
	text-decoration: none;
	color: #ff7f00; 
}

img#logo{
	position: relative;
	width: 358px;
	height: 200px;
}

/*Configurando o carrousel*/

img.imgCarrousel{
	position: relative;
	width: 100%;
	height: 87%;
}
